.nav {
  display: flex;

  @include _768 {
    align-items: center;
  }
}

.nav__item {
  padding: 0 25px;
  @include _992 {
    padding: 0 15px;
  }
  @include _768 {
    padding: 15px;
  }
}

.nav__link {
  position: relative;
  color: $main-color-white;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 3px;
    opacity: 0;
    z-index: 1;
    transition: all .2s linear;
    background-color: #fce38a;
  }

  &:hover,
  &:active {
    color: #fce38a;
    text-decoration: none;

    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}

.nav-toggle {
  width: 30px;
  display: none;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 0;
  z-index: 1;
  @include _768() {
    display: block;
  }
}

.nav-toggle__item {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: background .2s linear;

  &:before,
  &:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: transform .2s linear;
  }

  &:before {
    top: -8px
  }

  &:after {
    bottom: -8px;
  }
}

.nav--active {
  background-color: #eb8b8d;
}