@import "../components/logo";
@import "../components/nav";

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 28px 0;
  transition: all 0.2s linear;

  @include _768 {
    padding: 10px 0;
  }
}

.header__navbar {
  margin: 0 25px;

  @include _992 {
    margin: 0 15px;
  }

  @include _768 {
    margin: 15px 0 25px 0;
  }
}

.header__navigation {
  display: flex;
  align-items: center;

  @include _768 {
    justify-content: center;
  }
}

.header__cart {
  margin-right: 40px;
  @include _992 {
    margin-right: 25px;
  }
}

.header .navbar-collapse.show {
  padding-bottom: 20px;
}

.header--fixed {
  padding: 10px 0 10px;
  background-color: #eb8b8d;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translate3d(0, 0, 0);
}

.header--pages {
  background-color: $background-color-coral;
  padding: 20px 0;
}

.header--open {
  background-color: #eb8b8d;
}

