.stats {
  padding-top: 110px;
  padding-bottom: 110px;

  @include _768 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.stats__wrapper {
  background-color: $background-color-turquoise;
}

.stats__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.stats__item {
  width: 20%;
  font-family: Montserrat;
  color: $main-color-white;
  text-align: center;
  padding: 90px 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);

  &:last-child {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    @include  _768 {
      border: none;
    }
  }

  @include _992 {
    padding: 60px 15px;
  }
  @include  _768 {
    width: 33.333%;
    border: none;
    padding: 40px 15px;
  }
  @include  _576 {
    width: 50%;
    padding: 30px 15px;
  }
}

.stats__counter {
  font-size: 72px;
  font-weight: 700;

  @include _992 {
    font-size: 64px;
  }
}

.stats__name {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}