$main-color-white: #ffffff;
$main-color-black: #000000;

$background-color-turquoise: #95e1d3;
$background-color-coral: #f38181;
$background-color-grey: #f8f8f8;

$main-text-color: #999999;
$heading-text-color: #333333;

$linear-gradient: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
